.menu-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 50%;
}

.menu-container .menu-item {
  flex: 1;
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #f0eeeef0;
  padding: 1rem;
}

.menu-container .menu-item.active {
  border-bottom: solid 5px #ff13a4;
}

.chat-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 65px;
  width: 65px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
.chat-icon img {
  height: 65px;
  width: 65px;
  padding: 10px;
  filter: invert(1);
}

.chat-window {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.chat-window img {
  position: fixed;
  bottom: 540px;
  right: 30px;
  cursor: pointer;
  height: 65px;
  width: 65px;
  border-radius: 50%;
}
